.detalhes-chamado{
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.botao-finalizar-chamado{
    background: red;
    float: right;
    margin-top: .2em;
   
}

input {
    margin-top: .2em;
    width: 100%;
    float: right;
}